altgraph==0.17
asgiref==3.5.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Django==3.1.14
future==0.18.2
geojson==2.5.0
idna==3.4
pefile==2022.5.30
PyInstaller==3.6
pyowm==2.10.0
pyTelegramBotAPI==4.2.2
pytz==2022.4
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.14.0
sqlparse==0.4.3
urllib3==1.26.12
mysqlclient==2.1.0
psycopg2==2.9.2
mysql_connector_python==8.0.27
protobuf==4.21.7
numpy==1.22.0
pandas==1.3.4
telebot==0.0.4