altgraph==0.17.5
asgiref==3.11.1
certifi==2026.1.4
chardet==6.0.0.post1
colorama==0.4.6
Django==6.0.2
future==1.0.0
geojson==3.2.0
idna==3.11
pefile==2024.8.26
PyInstaller==6.19.0
pyowm==3.5.0
pyTelegramBotAPI==4.31.0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
mysqlclient==2.2.8
psycopg2-binary==2.9.11
mysql_connector_python==9.6.0
protobuf==6.33.5
numpy==2.4.2
pandas==3.0.0
telebot==0.0.5